//Breakpoints
$desktop: "(min-width: 1280px)";
$laptop: "(max-width: 980px)";
$tablet: "(max-width: 760px)";
$mobile: "(max-width: 580px)";

//Colors
$white: #fff;
$black: #000;

//Dimensions
$pageWidth: 980px;