@import 'bourbon/bourbon';
@import 'neat/neat';

@import '_reset';
@import '_variables';
@import '_animations';
@import '_themes';
@import '_fonts';

@import 'classes/helpers';
@import 'classes/typography';
@import 'classes/buttons';
@import 'classes/forms';
@import 'classes/columns';
@import 'classes/boxes';

@import 'singletons/controls';
@import 'singletons/volume';
@import 'singletons/room';
@import 'singletons/playlists';

body {
	background: url(../images/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.page-logo {
	width: 35%;
	display: block;
	margin: 0 auto 30px;
}