{%if message.type == 'error' %}
	<div class="animated bounceInDown alert alert-error" role="alert">
		{{message.message}} <button type="button" onClick="javascript: event.target.parentNode.parentNode.removeChild(event.target.parentNode);" class="fa fa-times"></button>
	</div>
{% endif %}

{%if message.type == 'message' %}
	<div class="animated bounceInDown alert alert-info" role="alert">
		{{message.message}} <button type="button" onClick="javascript: event.target.parentNode.parentNode.removeChild(event.target.parentNode);" class="fa fa-times"></button>
	</div>
{% endif %}