{% extends "base.html" %}

{% block content %}

	<div class="column column-restricted central-padding-small">
		<div class="column-narrow align-center">
			<img src="images/logo-large.png" class="large-logo" />
			<p class="sub-heading">A free synchronised, collabarative and interactive community jukebox.</p>
			{% for message in message %}
				{% include "alert.html" %}
			{% endfor %}
			<form action="/register" method="post" role="form" enctype="multipart/form-data">
				<div {%if not message[0] %} class="animated rubberBand" {% endif %}>
					<div data-react-component="Input" data-react-props="
							errorMsg: 'Please enter a valid email address',
							required: true,
							validation: /[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/,
							attributes: {
								type: 'text',
								name: 'email',
								id: 'email',
								placeholder: 'Email',
								autoComplete: 'off'
							}
					" class="form-input-wrapper input-email"></div>
				</div>
				<div class="form-controls">
					<a href="/login" class="text-link">Login</a>
					<button class="btn">Send recovery email</button>
				</div>
			</form>
		</div>
	</div>

{% endblock %}