{% extends "base.html" %}

{% block content %}
<div class="column column-restricted vertical-padding-large">
	<h1 class="align-center">Register</h1>
	<div class="column1-2 align-center box-rounded">
		{% for message in message %}
			{% include "alert.html" %}
		{% endfor %}
		<form action="/register" method="post" role="form" enctype="multipart/form-data">
			<div>
				<div data-react-component="Input" data-react-props="
						errorMsg: 'Please enter a username',
						required: true,
						attributes: {
							type: 'text',
							name: 'username',
							id: 'username',
							placeholder: 'Username'
						}
				"></div>
				<div data-react-component="Input" data-react-props="
						errorMsg: 'Please enter a valid email address',
						required: true,
						validation: /[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/,
						attributes: {
							type: 'text',
							name: 'email',
							id: 'email',
							placeholder: 'Email'
						}
				"></div>
				<div data-react-component="Input" data-react-props="
						errorMsg: 'Please enter a password',
						required: true,
						attributes: {
							type: 'password',
							name: 'password',
							id: 'password',
							placeholder: 'Password'
						}
				"></div>
				<div data-react-component="Input" data-react-props="
						attributes: {
							type: 'file',
							name: 'avatar',
							id: 'avatar'
						}
				"></div>
			</div>
			<div class="vertical-padding-top">
					<button class="btn">Register</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
