{% extends "base.html" %}

{% block header %}
	<h1>Register</h1>
{% endblock %}

{% block content %}

	{% for message in message %}
		<span class="notify-{{message.type}}">{{ message.message }}</span>
	{% endfor %}

	<form action="/register" method="post">

		<input type="text" name="username" />
		<input type="password" name="password" />
		<input type="text" name="email" />
		
		<select name="avatar">
			<option disabled selected>Select an avatar</option>
			{% for avatar in avatars %}
				<option value="{{avatar|replace('.gif','')}}">{{avatar|replace('.gif','')}}</option>
			{% endfor %}
		</select>
	
		<button>Register</button>

	</form>

{% endblock %}