@import "//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700italic,700,800italic,800);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: 700; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.animate-background {
  -webkit-transition: background 0.25s ease-in-out;
  -moz-transition: background 0.25s ease-in-out;
  -ms-transition: background 0.25s ease-in-out;
  -o-transition: background 0.25s ease-in-out;
  transition: background 0.25s ease-in-out; }

.animate-all, .btn, .btn-secondary, #playlistsWrapper .playlists-window, #playlistsWrapper .playlists-window .playlists-list-wrapper li button, #playlistsWrapper .playlists-window .song-list li button, header .header-navigation li a, header #controls .controls-wrapper > button, header #controls a, header .open-playlists {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

.animate-height {
  -webkit-transition: max-height 0.3s ease-in-out;
  -moz-transition: max-height 0.3s ease-in-out;
  -ms-transition: max-height 0.3s ease-in-out;
  -o-transition: max-height 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out; }

.fade {
  -webkit-transition: opacity 0.25s fade-in-out;
  -moz-transition: opacity 0.25s fade-in-out;
  -ms-transition: opacity 0.25s fade-in-out;
  -o-transition: opacity 0.25s fade-in-out;
  transition: opacity 0.25s fade-in-out; }

body {
  background: #272727;
  background: -moz-radial-gradient(center, ellipse cover, #272727 0%, #151515 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #272727 0%, #151515 100%);
  background: radial-gradient(ellipse at center, #272727 0%, #151515 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272727', endColorstr='#151515',GradientType=1 ); }

img {
  max-width: 100%; }

html, body {
  height: 100%; }

button {
  background: none;
  border: 0px;
  outline: none; }

.clearfix:after, #playlistsWrapper .playlists-window .playlists-list-wrapper li:after, #playlistsWrapper .playlists-window .song-list li:after, #playlistsWrapper .playlists-window .search ul li:after, header:after, header .header-navigation:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix, #playlistsWrapper .playlists-window .playlists-list-wrapper li, #playlistsWrapper .playlists-window .song-list li, #playlistsWrapper .playlists-window .search ul li, header, header .header-navigation {
  display: inline-block; }

* html .clearfix, * html #playlistsWrapper .playlists-window .playlists-list-wrapper li, #playlistsWrapper .playlists-window .playlists-list-wrapper * html li, * html #playlistsWrapper .playlists-window .song-list li, #playlistsWrapper .playlists-window .song-list * html li, * html #playlistsWrapper .playlists-window .search ul li, #playlistsWrapper .playlists-window .search ul * html li, * html header, * html header .header-navigation, header * html .header-navigation {
  height: 1%; }

.clearfix, #playlistsWrapper .playlists-window .playlists-list-wrapper li, #playlistsWrapper .playlists-window .song-list li, #playlistsWrapper .playlists-window .search ul li, header, header .header-navigation {
  display: block; }

.align-center {
  text-align: center;
  margin-left: auto !important;
  margin-right: auto !important;
  float: none !important; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.hide-desktop {
  display: none; }
  @media (max-width: 900px) {
    .hide-desktop {
      display: block; } }

.show-desktop {
  display: block; }
  @media (max-width: 900px) {
    .show-desktop {
      display: none !important; } }

.vertical-padding {
  padding: 40px 0; }
  .vertical-padding-top {
    padding-top: 40px; }
  .vertical-padding-bottom {
    padding-bottom: 40px; }

.vertical-padding-large {
  padding: 6% 0; }
  .vertical-padding-large-top {
    padding-top: 90px; }
  .vertical-padding-large-bottom {
    padding-bottom: 90px; }

.vertical-padding-small {
  padding: 20px 0; }
  .vertical-padding-small-top {
    padding-top: 20px; }
  .vertical-padding-small-bottom {
    padding-bottom: 20px; }

.float-right {
  float: right; }

.force-inline {
  display: inline !important; }

body, a, button {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px; }

h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 35px;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 25px; }

a, button {
  color: #fff; }
  a:hover, button:hover {
    color: #3C3C3C; }

.btn, .btn-secondary {
  background: #fc961b;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  padding: 20px 45px;
  line-height: 20px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  border: 2px solid #fc961b;
  box-sizing: border-box; }
  .btn:hover, .btn-secondary:hover {
    background: none;
    border: 2px solid #fc961b;
    color: #fc961b; }

.btn-secondary {
  background: #fff;
  color: #000;
  border-color: #fff; }

form {
  width: 100%; }

form input {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  outline: 0px;
  border: 0px;
  padding: 25px 60px;
  background: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  color: #000; }
  form input:focus {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1); }
  form input:-webkit-autofill, form input:-webkit-autofill:hover, form input:-webkit-autofill:focus, form input:-webkit-autofill:active {
    -webkit-text-fill-color: #e4e4e4;
    transition: background-color 5000s ease-in-out 0s; }

form .input-wrapper .error-msg {
  color: #000; }

.column {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%; }
  .column::after {
    clear: both;
    content: "";
    display: table; }
  .column.column-restricted {
    max-width: 930px;
    margin: 0 auto; }
    @media (max-width: 950px) {
      .column.column-restricted {
        padding-left: 20px;
        padding-right: 20px; } }
  .column-relative {
    position: relative; }
  .column1 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .column1:last-child {
      margin-right: 0; }
  .column1-2 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .column1-2:last-child {
      margin-right: 0; }
    .column1-2:nth-child(2n) {
      margin-right: 0; }
    .column1-2:nth-child(2n+1) {
      clear: left; }
    @media (max-width: 900px) {
      .column1-2 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .column1-2:last-child {
          margin-right: 0; } }
  .column1-3 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .column1-3:last-child {
      margin-right: 0; }
    @media (max-width: 900px) {
      .column1-3 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        margin-bottom: 50px; }
        .column1-3:last-child {
          margin-right: 0; }
        .column1-3:nth-child(2n) {
          margin-right: 0; }
        .column1-3:nth-child(2n+1) {
          clear: left; } }
  .column2-3 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .column2-3:last-child {
      margin-right: 0; }
    @media (max-width: 900px) {
      .column2-3 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .column2-3:last-child {
          margin-right: 0; }
        .column2-3:nth-child(2n) {
          margin-right: 0; }
        .column2-3:nth-child(2n+1) {
          clear: left; } }
  .column1-4 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .column1-4:last-child {
      margin-right: 0; }
    @media (max-width: 900px) {
      .column1-4 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%; }
        .column1-4:last-child {
          margin-right: 0; }
        .column1-4:nth-child(2n) {
          margin-right: 0; }
        .column1-4:nth-child(2n+1) {
          clear: left; } }
  .column3-4 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    .column3-4:last-child {
      margin-right: 0; }
    @media (max-width: 900px) {
      .column3-4 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .column3-4:last-child {
          margin-right: 0; } }
  .column1-6 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .column1-6:last-child {
      margin-right: 0; }
  .column5-6 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%; }
    .column5-6:last-child {
      margin-right: 0; }
  .column2-6 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .column2-6:last-child {
      margin-right: 0; }
  .column4-6 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .column4-6:last-child {
      margin-right: 0; }

.box, .box-rounded {
  padding: 50px; }

.box-rounded {
  border-radius: 10px; }

.volume-wrap {
  padding: 0 10px 0 0;
  display: inline-block; }
  .volume-wrap #volume {
    float: left;
    font-size: 27px;
    line-height: 37px;
    padding: 0 3px 0;
    margin: 0px; }
  .volume-wrap .volume-panel {
    float: left;
    height: 40px;
    width: 0;
    overflow: hidden;
    transition: width 0.2s;
    cursor: pointer; }
    .volume-wrap .volume-panel .volume-slider {
      position: relative;
      height: 100%; }
    .volume-wrap .volume-panel .volume-slider-track {
      height: 2px;
      width: 70px;
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -1px;
      background: gray; }
    .volume-wrap .volume-panel .volume-slider-progress {
      height: 100%;
      width: 0%;
      background: red;
      position: relative; }
    .volume-wrap .volume-panel .volume-slider-handle {
      height: 12px;
      width: 5px;
      position: absolute;
      top: -5px;
      right: 0;
      background: white; }
  .volume-wrap:hover button {
    color: white; }
  .volume-wrap:hover .volume-panel {
    width: 76px; }

.toggle-overlay {
  display: none; }

#overlay {
  position: absolute;
  width: 100%;
  min-height: 100%;
  z-index: 1;
  background: rgba(40, 40, 40, 0.75);
  box-sizing: border-box;
  color: #fff;
  padding: 100px;
  text-align: center;
  transition: opacity 0.5s ease; }

#player {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-filter: blur(2px) grayscale(100%); }

body.overlay-open #overlay {
  opacity: 0; }
body.overlay-open #player {
  -webkit-filter: blur(0) grayscale(0) !important; }

#playlistsWrapper .playlists-window {
  z-index: 11;
  position: fixed;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  background: #000;
  top: 80px;
  right: 0;
  left: 0;
  height: 0px;
  padding: 20px; }
  #playlistsWrapper .playlists-window .new-playlist {
    position: fixed;
    top: 80px;
    right: 0px;
    background: #fc961b;
    font-size: 25px;
    padding: 15px; }
  #playlistsWrapper .playlists-window h2 {
    border-bottom: 1px solid #fff;
    margin-bottom: 0px !important; }
  #playlistsWrapper .playlists-window .playlists-list-wrapper {
    list-style: none; }
    #playlistsWrapper .playlists-window .playlists-list-wrapper li {
      position: relative;
      width: 100%;
      padding: 10px;
      border-bottom: 1px solid #fff; }
      #playlistsWrapper .playlists-window .playlists-list-wrapper li.is-active {
        background: #fc961b; }
      #playlistsWrapper .playlists-window .playlists-list-wrapper li h3 {
        display: inline-block;
        text-transform: none;
        font-size: 20px;
        margin-bottom: 0px !important; }
      #playlistsWrapper .playlists-window .playlists-list-wrapper li button {
        float: right;
        padding: 10px 20px;
        margin-top: 5px;
        background: #000;
        margin-left: 5px; }
        #playlistsWrapper .playlists-window .playlists-list-wrapper li button:hover {
          background: #fff;
          color: #000; }
  #playlistsWrapper .playlists-window #playlist-form {
    padding-top: 60px; }
    #playlistsWrapper .playlists-window #playlist-form .input-wrapper {
      position: fixed;
      top: 80px;
      left: 0px;
      right: 238px; }
      #playlistsWrapper .playlists-window #playlist-form .input-wrapper input {
        border-bottom: 1px solid #fff;
        padding: 14px;
        color: #fff;
        font-size: 22px; }
  #playlistsWrapper .playlists-window .song-list {
    list-style: none; }
    #playlistsWrapper .playlists-window .song-list li {
      width: 100%;
      padding: 10px;
      border-bottom: 1px solid #fff; }
      #playlistsWrapper .playlists-window .song-list li img {
        height: 50px;
        display: inline-block;
        vertical-align: top; }
      #playlistsWrapper .playlists-window .song-list li .song-name {
        font-size: 20px;
        display: inline-block;
        line-height: 50px;
        vertical-align: top;
        padding-left: 10px; }
      #playlistsWrapper .playlists-window .song-list li button {
        padding: 20px;
        background: #fc961b;
        color: #fff;
        float: right; }
        #playlistsWrapper .playlists-window .song-list li button:hover {
          color: #000;
          background: #fff; }
  #playlistsWrapper .playlists-window .add-song, #playlistsWrapper .playlists-window .save {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background: #fc961b;
    color: #fff;
    font-size: 23px;
    padding: 20px;
    display: block; }
  #playlistsWrapper .playlists-window .save {
    right: 0px;
    left: auto; }
  #playlistsWrapper .playlists-window .back-to-playlist {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background: #fc961b;
    color: #fff;
    font-size: 23px;
    padding: 20px;
    display: block; }
  #playlistsWrapper .playlists-window .search input {
    position: fixed;
    top: 80px;
    left: 0px;
    right: 238px;
    border-bottom: 1px solid #fff;
    padding: 14px;
    color: #fff;
    font-size: 22px; }
  #playlistsWrapper .playlists-window .search ul {
    list-style: none; }
    #playlistsWrapper .playlists-window .search ul li {
      width: 100%;
      border-bottom: 1px solid #fff;
      padding: 10px;
      cursor: pointer; }
      #playlistsWrapper .playlists-window .search ul li:hover {
        background: #fc961b; }

body.playlist-open #playlistsWrapper .playlists-window {
  opacity: 1;
  visibility: visible;
  bottom: 0;
  height: 100%;
  padding: 20px; }

header {
  width: 100%;
  position: fixed;
  top: 0;
  height: 80px;
  background: #000;
  z-index: 10; }
  header .header-logo {
    float: left;
    display: block;
    padding: 15px; }
    header .header-logo img {
      height: 50px; }
  header .header-navigation {
    float: right;
    list-style: none; }
    header .header-navigation li {
      float: left;
      display: inline-block; }
      header .header-navigation li a {
        display: block;
        line-height: 60px;
        padding: 10px 15px;
        background: #fff;
        color: #000;
        text-decoration: none;
        text-transform: uppercase; }
        header .header-navigation li a:hover {
          color: #fc961b; }
      header .header-navigation li:last-child a {
        background: #fc961b;
        color: #fff; }
  header #controls {
    float: right;
    margin: 10px; }
    header #controls .controls-wrapper > button {
      vertical-align: top;
      display: inline-block;
      margin-top: 10px;
      height: 40px;
      line-height: 40px;
      padding-left: 15px;
      margin-left: 10px; }
      header #controls .controls-wrapper > button:hover {
        color: #fc961b; }
    header #controls a:hover {
      color: #fc961b; }
    header #controls .volume-wrap {
      margin-top: 10px;
      padding-left: 10px;
      margin-left: 10px; }
  header .open-playlists {
    display: block;
    line-height: 60px;
    padding: 10px 15px;
    background: #fff;
    color: #000;
    text-decoration: none;
    text-transform: uppercase; }
    header .open-playlists:hover {
      color: #fc961b; }

body {
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.page-logo {
  width: 35%;
  display: block;
  margin: 0 auto 30px; }

/*# sourceMappingURL=styles.css.map */
