.column {

	@include outer-container;

	max-width: 100%;
	
	&.column-restricted {
		max-width: $pageWidth;
		@media (max-width: (20 + $pageWidth)) {
			padding-left: 20px;
			padding-right: 20px;
		}
		margin: 0 auto;
	}

	&-relative {
		position: relative;
	}

	&-narrow {
		@include span-columns(5);
		@media #{$tablet} {
			@include span-columns(12);
		}
	}

	&1 {
		@include span-columns(12);
	}

	&1-2 {
		@include span-columns(6);
		@include omega(2n);
		@media #{$tablet} {
			@include span-columns(12);
		}
	}

	&1-3 {
		@include span-columns(4);
		@media #{$tablet} {
			@include span-columns(12);
			@include omega(2n);
			margin-bottom: 50px;
		}
	}

	&2-3 {
		@include span-columns(8);
		@media #{$tablet} {
			@include span-columns(12);
			@include omega(2n);
		}
	}

	&1-4 {
		@include span-columns(3);
		@media #{$tablet} {
			@include span-columns(6);
			@include omega(2n);
		}
	}

	&3-4 {
		@include span-columns(9);
		@media #{$tablet} {
			@include span-columns(12);
		}
	}

	&1-6 {
		@include span-columns(2);
	}

	&5-6 {
		@include span-columns(10);
	}

	&2-6 {
		@include span-columns(4);
	}

	&4-6 {
		@include span-columns(8);
	}

}