//Constructor
%form {
	width: 100%;
}

%form-element {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100%;
	font-size: 16px;
	line-height: 20px;
	outline: 0px;
	border: 0px;
	margin-bottom: 15px;


	padding: 25px 60px;
	background: rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(0,0,0,0.4);
	color: $black;

	&:focus {
		background: rgba(255,255,255,0.2);
	}

	&:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus, &:-webkit-autofill:active {
		-webkit-text-fill-color: $grey;
		transition: background-color 5000s ease-in-out 0s;
	}

}

form {
	@extend %form;
	.input-wrapper {
		.error-msg {
			color: $black;
		}
	}
	input {
		@extend %form-element;
	}
}